

<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3">
            <li class="nav-item "><a href="https://github.com/sara-czasak" class="nav-link px-2 link-icon-foot"><i class="fab fa-github link-icon-foot"></i></a></li>
            <li class="nav-item"><a href="https://www.linkedin.com/in/sara-paulina-czasak-b8643b398" class="nav-link px-2 link-icon-foot"><i class="fab fa-linkedin link-icon-foot"></i></a></li>
            <li class="nav-item"><a href="https://sara-czasak.itch.io/" class="nav-link px-2 link-icon-foot"><i class="fab fa-itch-io link-icon-foot"></i></a></li>
        </ul>
        <p class="text-center head-foot-text">© <span id="currentYear"></span> Sara Czasak</p>
    </footer>
</div>

<script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>