

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 border-bottom mt-2">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4 head-foot-text">Home</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="" class="nav-link  head-foot-text {% if active_page == 'home' %}active{% endif %}" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="" class="nav-link head-text head-foot-text {% if active_page == 'projects' %}active{% endif %}">Projects</a></li>
            <li class="nav-item"><a href="" class="nav-link head-foot-text {% if active_page == 'jobs' %}active{% endif %}">Jobs</a></li>
            <li class="nav-item"><a href="" class="nav-link head-foot-text {% if active_page == 'skills' %}active{% endif %}">Skills</a></li>
            <li class="nav-item"><a href="" class="nav-link head-foot-text {% if active_page == 'about' %}active{% endif %}">About</a></li>
            <li class="nav-item"><a href="" class="nav-link head-foot-text {% if active_page == 'contact' %}active{% endif %}">Contact</a></li>
        </ul>
    </header>
</div>